/* #firstScreen
{
 
} */

#grad1 {
    margin-top:20px;
    height:500px;
    width:500px;
    background-color: red; 
    background-image: linear-gradient(90deg,red, yellow); 
  }
  
  #secondScreen{
    display:none;
  }

  #grad2 {
    margin-top:20px;
    height:500px;
    width:500px;
    background-color: yellow; 
    background-image: linear-gradient(90deg,green, blue); 
  }