/* #firstScreen
{
 
} */

#grad1 {
    margin-top:20px;
    height:250px;
    width:250px;
    background-color: red; 
    background-image: linear-gradient(90deg,blue, green); 
  }
  
  #secondScreen{
    display:none;
  }

  #grad2 {
    margin-top:20px;
    height:250px;
    width:250px;
    background-color: yellow; 
    background-image: linear-gradient(90deg,purple, yellow); 
  }

#fruitul2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}